<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaldb.dao.AppointmentDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into appointments (appt_id, patient_id, doctor_id, appt_date)
        values (#{apptID}, #{patientID}, #{doctorID}, #{apptDate})
    </insert>

    <select id="findByID" resultMap="AppointmentResultMap">
        select * from appointments where id = #{id}
    </select>

    <update id="updateByID">
        update appointments set
        appt_id = #{appointment.apptID},
        patient_id = #{appointment.patientID},
        doctor_id = #{appointment.doctorID},
        appt_date = #{appointment.apptDate},
        where id = #{id}
    </update>

    <delete id="deleteByID">
        delete from appointments where id = #{id}
    </delete>

    <resultMap id="AppointmentResultMap" type="com.solvd.hospitaldb.bin.Appointment" autoMapping="false">
        <id property="id" column="id" />
        <result property="apptID" column="appt_id"/>
        <result property="apptDate" column="appt_date" />
        <association property="patient" resultMap="" />
        <association property="doctor" resultMap="" />
    </resultMap>
</mapper>