<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaldb.dao.InsuranceProviderDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into insurance_providers (provider_id, provider_name, contact_number, address)
        values (#{providerID}, #{providerName}, #{contactNumber}, #{address})
    </insert>

    <select id="findByID" resultMap="ProviderResultMap">
        select * from insurance_providers where id = #{id}
    </select>

    <update id="updateByID">
        update insurance_providers set
        provider_id = #{provider.providerID},
        provider_name = #{provider.providerName},
        contact_number = #{provider.contactNumber},
        address = #{provider.address},
        where id = #{id}
    </update>

    <delete id="deleteByID">
        delete from insurance_providers where id = #{id}
    </delete>

    <resultMap id="ProviderResultMap" type="com.solvd.hospitaldb.bin.InsuranceProvider" autoMapping="false">
        <id property="id" column="id" />
        <result property="providerID" column="provider_id"/>
        <result property="providerName" column="provider_name" />
        <result property="contactNumber" column="contact_number" />
        <result property="address" column="address" />
    </resultMap>
</mapper>
