<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaldb.dao.LabTestDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into lab_tests (test_id, test_name, test_description)
        values (#{testID}, #{testName}, #{testDescription})
    </insert>

    <select id="findByID" resultMap="LabTestResultMap">
        select * from lab_tests where id = #{id}
    </select>

    <update id="updateByID">
        update lab_tests set
        test_id = #{test.testID},
        test_name = #{test.testName},
        test_description = #{test.testDescription},
        where id = #{id}
    </update>

    <delete id="deleteByID">
        delete from lab_tests where id = #{id}
    </delete>

    <resultMap id="LabTestResultMap" type="com.solvd.hospitaldb.bin.LabTest" autoMapping="false">
        <id property="id" column="id" />
        <result property="testID" column="test_id"/>
        <result property="testName" column="test_name" />
        <result property="testDescription" column="test_description" />
    </resultMap>
</mapper>